.project {
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.project h1 {
  width: 100%;
  margin-top: 50px;
  color: #3e497a;
  font-size: 35px;
}

.project img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.project p {
  width: 100%;
  font-size: 20px;
  color: #3e497a;
  margin-bottom: 40px;
}

.project svg {
  font-size: 60px;
  color: #3e497a;
  margin-bottom: 20px;
}

.features ul,
.tools ul,
.accomplishments ul {
  list-style-type: disc;
  margin-left: 20px;
  font-size: 18px;
  color: #3e497a;
  padding-left: 20px; /* Add padding to align with bullet points */
}

.features h2,
.tools h2,
.accomplishments h2 {
  font-size: 28px;
  color: #3e497a;
  margin-bottom: 20px;
}

.project-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}

.project-links a {
  font-size: 30px;
  color: #3e497a;
  transition: color 0.3s ease;
  margin: 0 10px;
}

.project-links a:hover {
  color: #f57842;
}
