.project {
  padding: 0 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  }
  
  .project h1 {
  width: 100%;
  margin-top: 50px;
  color: #3e497a;
  font-size: 35px;
  }
  
  .project img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
  }
  
  .project p {
  width: 100%;
  font-size: 20px;
  color: #3e497a;
  margin-bottom: 40px;
  }
  
  .project svg {
  font-size: 60px;
  color: #3e497a;
  margin-bottom: 20px;
  }